.grafica{
    position: relative;
    width: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.grafica .box {
    position: relative;
    background-color: white;
    padding: 18px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    min-height: 200px;
}

.grafica .box canvas{
    max-width: 100%;
    max-height: 100%;
    width: 90% !important; 
    height: 90% !important; 
  }

@media (max-width: 991px){
    .grafica{
        grid-template-columns: 2fr;
        height: auto;
    }
}