.fondo_admin{
    background: url("/Images/fondo-bandera.jpg");
    height: 915px;
    background-size: cover;
}
#content{
margin-left: 250px;
}
/*Menù lateral*/
#btn-menu{
    display: none;
    color: #fff;
}
.contenedor-botones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #141414;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.boton.cuatro::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.boton.cuatro:hover::after {
    transform: scale(400);
    background: #cc1010;
}

.boton.cuatro:hover {
    /* background: #960909; */
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.icon-menu{
    font-size: 35px;
    padding: 25px;
    color: #fff;
}

.navbar{
    display: flex;
    flex-direction: column;
}
.ultimo-elemento{
margin-top: auto;
}

.mensaje{
    position: relative; /* Establece el posicionamiento relativo */
    margin-left: 70%;
}
.marco{
    position: relative; /* Establece el posicionamiento relativo */
    margin-left: 60%;
    background-color: #fff;
    height: 78%;
}
.decorative-button {
    background-color: #fff200; /* Color de fondo */
    border: none; /* Elimina el borde */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la decoración del texto */
    display: inline-block; /* Muestra el botón en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Márgenes exteriores */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}