.ventana_login{
    background: #e2bc00;
    width: 10%;
    color: rgba(255, 255, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    display: none;
    float: left;
}

*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right, #ffffff, #ffffff);
    font-family: "Raleway", sans-serif;
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup{
    position:absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 400ms ease;
}


.popup .close-btn{
    position: absolute;
    top: 10px;
    right: -10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 400ms ease;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0px;
}
.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"]{
    margin-right: auto;
}

.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a{
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

.bajoBrillo {
    filter: brightness(0.5);
  }
  .decorative-button {
    background-color: #fff200; /* Color de fondo */
    border: none; /* Elimina el borde */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la decoración del texto */
    display: inline-block; /* Muestra el botón en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Márgenes exteriores */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}
decorative-button_login {
    background-color: #fff200; /* Color de fondo */
    border: none; /* Elimina el borde */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Elimina la decoración del texto */
    display: inline-block; /* Muestra el botón en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Márgenes exteriores */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}