main.table_parqueadero{
    margin-left: 10%;
    width: 55vw;
    height: 40vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
}

.table_header {
    width: auto;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;   
}

.table_body {
    width: auto;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius:.6rem; 
    border-radius: .6rem;
    overflow: auto;
}

.table_body ::-webkit-scrollbar{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover ::-webkit-scrollbar-thumb{
    visibility: visible;
}

.table_parqueadero{
    width: 30%;
}

.table_parqueadero, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d1c300fe;
}

tbody tr :nth-child(even){
    background-color: #fff6;
}

@media (max-width: 1000px) {
    td :not(:first-of-type){
        min-width: 12.1rem;
    }
}