<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/inicio_usuario.css">
    <link rel="stylesheet" type="text/css" href="/CSS/tablas.css">
    <link rel="icon" href="/Images/logo.ico">
    <link rel="stylesheet" href="/CSS/loginUser.css">
    <title>Sesión de Usuario</title>
</head>
<body class="fondo_admin" style=" background-color: rgba(255,255,255,1);">
<script src="/JS/funcion_cliente.js"></script>
<Script src="/JS/funcionalidad.js"></Script>
<!-- loader  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<aside id="sidebar">
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu" class="icon-menu" style="cursor: pointer;">☰</label>
                <div style="text-align: right; color: white" size="30%">
                    <p style="display: inline-block; margin-left: 10px; font-size: 170%; color: white;">Correo Electronico: <span th:text="${correo}"></span></p>
                    <br>
                    <p style="display: inline-block; margin-left: 10px; font-size: 170%; color: white" size="30%">ID: <span th:text="${id}"></span></p>
                </div>
            </div>
        </div>
    </header>
    <div class="capa">
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav class="navbar">
                    <img src="/Images/fondo-user.png" style="width: 50%; height: 50%; margin-left: 20%;"/>
                    <br><br>
                    <a onclick="carros()">TUS VEHÍCULOS</a>
                    <a onclick="reserva()">RESERVA TU CUPO</a>
                    <a onclick="tipo_de_parqueadero()">PARQUEADEROS</a>
                    <a onclick="telefono()">TUS TELÉFONOS</a>
                    <form method="GET" th:action="@{/pagina_principal/inicio_principal}">
                        <input type="submit" value="Cerrar Sesion" class="decorative-button">
                    </form>
                </nav>
                <label for="btn-menu">✖</label>
            </div>
        </div>
    </div>
</aside>

<script>
    $(document).ready(function() {
        $.get("/api/Parqueadero/getAll", function(data) {
            var tabla = $("#tablaParqUsuario tbody");
            data.forEach(function(parqueadero) {
                var fila = "<tr>" +
                    "<td>" + parqueadero.idParqueadero + "</td>" +
                    "<td>" + parqueadero.idTipoParq + "</td>" +
                    "<td>" + parqueadero.ubicacion + "</td>" +
                    "<td>" + parqueadero.horarioAtencion + "</td>" +
                    "<td>" + parqueadero.tarifa + "</td>" +
                    "<td>" + parqueadero.ciudad + "</td>" +
                    "<td>" + parqueadero.cuposTotales + "</td>" +
                    "<td>" + parqueadero.cuposOcupados + "</td>" +
                    "<td>" + parqueadero.estado + "</td>" +
                    "</tr>";
                tabla.append(fila);
            });
        });
    });
</script>
<main id="content">
    <div id="tipo_parqueadero" style="display: none;">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1 style="margin-top: -1.2%">Informacion de tipo de Parqueadero</h1>
            </section>
            <section class="table_body">
                <table id="tablaParqUsuario">
                    <thead>
                    <tr>
                        <th>Id Parqueadero</th>
                        <th>Tipo parqueadero</th>
                        <th>Ubicación</th>
                        <th>Horario de atención</th>
                        <th>Tarifa</th>
                        <th>Ciudad</th>
                        <th>Cupos Totales</th>
                        <th>Cupos Ocupados</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <script>
        $(document).ready(function() {
            $.get("/api/Carro/getAll", function(data) {
                var tabla = $("#tablaVehiculos tbody");

                data.forEach(function(carros) {
                    var fila = "<tr>" +
                        "<td>" + carros.idCarro + "</td>" +
                        "<td>" + carros.usuario + "</td>" +
                        "<td>" + carros.placa + "</td>" +
                        "<td>" + carros.modelo + "</td>" +
                        "<td>" + carros.estado + "</td>" +
                        "</tr>";
                    tabla.append(fila);
                });
            });
        });
    </script>
    <div id="carros" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1 style="margin-top: -1.2%">Informacion de los vehiculos</h1>
            </section>
            <section class="table_body">
                <table id="tablaVehiculos">
                    <thead>
                    <tr>
                        <th>Id vehículo</th>
                        <th>Usuario</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Estado</th>
                        <th class="vehiculo_btn">
                            <button id = "Agregar_veh">
                                <a onclick="mostrarModal2()" style="cursor: pointer;">Agregar</a>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </main>
    </div>
    <div>
        <form>
            <div id="frame_agr_vh" style="display: none !important;">
                <div id="cerrarVh" style="cursor: pointer;">
                    <div class="center">
                        <button id="show-vehiculo">Agregar vehículo</button>
                    </div>
                    <div class="popup">
                        <div class="clos-btn" onclick="cerrarModal2()">&times;</div>
                        <div class="form">
                            <h2>Agregar</h2>
                            <div class="form-element">
                                <label>modelo</label>
                                <input type="text" id="modeloVh" placeholder="modeloVh" name="modelo">
                            </div>
                            <div class="form-element">
                                <label for="Placa">Placa</label>
                                <input type="Placa" id="PlacaVh" placeholder="Placa" name="Placa">
                            </div>
                            <div class="form-element">
                                <input type="submit" value="agregarVh" class="decorative-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="Reservas" style="display: none">
        <main class="table_parqueadero" >
        </main>
    </div>
    </div>
    <div id="Reserva" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1 style="margin-top: -1.2%">Reservas parqueadero</h1>
            </section>
            <section class="table_body">
                <table id = "tablaReserva">
                    <thead>
                    <tr>
                        <th>ID Factura</th>
                        <th>Momento reserva</th>
                        <th>Hora de ingreso</th>
                        <th>Hora de salida</th>
                        <th>Usuario</th>
                        <th>Id del parqueadero</th>
                        <th>Placa del vehículo</th>
                        <th>Estado</th>
                        <th class="Reserv_btn">
                            <button id = "Reserva_parq">
                                <a onclick="mostrarModal()" style="cursor: pointer;">Reservar</a>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </main>
    </div>
    <script>
        $(document).ready(function() {
            $.get("/api/ReservaCupo/getAll", function(data) {
                var tabla = $("#tablaReserva tbody");

                data.forEach(function(reserva) {
                    var fila = "<tr>" +
                        "<td>" + reserva.idFactura + "</td>" +
                        "<td>" + reserva.momentoReserva + "</td>" +
                        "<td>" + reserva.horaIngreso + "</td>" +
                        "<td>" + reserva.horaSalida + "</td>" +
                        "<td>" + reserva.usuario + "</td>" +
                        "<td>" + reserva.idParqueadero + "</td>" +
                        "<td>" + reserva.placaCarro + "</td>" +
                        "<td>" + reserva.estado + "</td>" +
                        "</tr>";
                    tabla.append(fila);
                });
            });
        });
    </script>
    <div>
         <!--th:object="${captcha}"-->
            <div id="frame_login" style="display: none !important;">
                <div id="cerrar" style="cursor: pointer;">
                    <div class="center">
                        <button id="show-reserva">Reservar parqueadero</button>
                    </div>
                    <div class="popup">
                        <div class="clos-btn" onclick="cerrarModal()">&times;</div>
                        <div class="form">

                            <h2>Reservar</h2>
                            <div class="form-element">
                                <label >Confirme su id de Usuario <span th:text="${id}"></span></label>
                                <input type="text" id="usuario" placeholder="nombre de reserva" name="idUsuario">
                            </div>
                            <form th:action="@{/api/ReservaCupo/saveCupo}" method="POST">
                            <div class="form-element">
                                <label>Id parqueadero</label>
                                <input type="text" id="NombreReservar" placeholder="nombre de reserva" name="idParqueadero">
                            </div>
                            <div class="form-element">
                                <label for="Placa">Placa </label>
                                <input type="Placa" id="Placa" placeholder="Placa" name="placa">
                            </div>

                            <div class="form-element">
                                <label >Hora entrada</label>
                                <input type="datetime-local" min="2023-06-01" max="2099-12-31" name="entrada">
                            </div>

                            <div class="form-element">
                                <label >Hora salida</label>
                                <input type="datetime-local" min="2023-06-01" max="2099-12-31" name="salida">
                            </div>
                            <div class="form-element">
                                <input type="submit" value="Reservar" class="decorative-button">
                            </div>
                            </form>
                            <!--<div th:if="${message!=null}">
                               <span style="color:red;" th:text="${message}"></span>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script>
        $(document).ready(function() {
            $.get("/api/Telefono/getAll", function(data) {
                var tabla = $("#tabla_telefonos tbody");
                data.forEach(function(telefono) {
                    var fila = "<tr>" +
                        "<td>" + telefono.idTelefono + "</td>" +
                        "<td>" + telefono.numTelefono + "</td>" +
                        "<td>" + telefono.estado + "</td>" +
                        "</tr>";
                    tabla.append(fila);
                });
            });
        });
    </script>
    <div id="Telefono" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1 style="margin-top: -1.2%">Información de Teléfonos</h1>
            </section>
            <section class="table_body">
                <table id="tabla_telefonos">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número de Teléfono</th>
                        <th>Estado</th>
                        <th class="agrTlf_btn">
                            <button id = "agrTelefonoBtn">
                                <a onclick="mostrarModal3()" style="cursor: pointer;">Agregar</a>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </main>
        <div id="Frame_telefono" style="display: none !important;">
            <div id="cerrartlf" style="cursor: pointer;">
                <div class="center">
                    <button id="show-telefono">Teléfono</button>
                </div>
                <div class="popup">
                    <div class="clos-btn" onclick="cerrarModal3()">&times;</div>
                    <div class="form">
                        <form  method="POST">
                            <h2>Teléfono</h2>
                            <div class="form-element">
                                <label>Teléfono</label>
                                <input type="text" id="agrTelefono" placeholder="Telefono" name="agrTelefono">
                            </div>
                            <div class="form-element">
                                <input type="submit" value="Reservar" class="decorative-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/JS/popper.min.js"></script>
<script src="/JS/bootstrap.bundle.min.js"></script>
<script src="/JS/jquery-3.0.0.min.js"></script>
<script src="/JS/plugin.js"></script>
</body>
</html>