<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/inicio_admin.css">
    <link rel="stylesheet" type="text/css" href="/CSS/tablas.css">
    <link rel="stylesheet" type="text/css" href="/CSS/grafico.css">
    <link rel="icon" href="/Images/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Administrador</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="fondo_admin" style="background-color: rgba(255,255,255,1);">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <aside id="sidebar">
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu" class="icon-menu" style="cursor: pointer;">☰</label>
                <div style="text-align: right; color: white" size="30%">
                    <p style="display: inline-block; margin-left: 10px; font-size: 170%; color: white;">Correo Electronico: <span th:text="${correo}"></span></p>
                    <br>
                    <p style="display: inline-block; margin-left: 10px; font-size: 170%; color: white" size="30%">ID: <span th:text="${id}"></span></p>
                </div>
            </div>
        </div>
    </header>
    <div class="capa">
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav class="navbar">
                    <img src="/Images/logo-parkea.png" style="width: 50%; height: 50%; margin-left: 20%;"/>
                    <br><br>
                    <a onclick="tipo_de_parqueadero()" style="cursor: pointer;">Informacion de parqueadero</a>
                    <a onclick="tipo_de_documento()" style="cursor: pointer;">Tipo de Documentos</a>
                    <a onclick="carros()">Informacion del vehiculo</a>
                    <link rel="icon" href="/Images/logo.ico">
                    <a onclick="auditoria()">Auditoria</a>
                    <a onclick="reserva()">Reserva de cupo</a>
                    <a href="">Telefonos</a>
                    <a href="">Informacion de los usuarios</a>
                    <br><br><br><br><br>
                    <form method="GET" th:action="@{/pagina_principal/inicio_principal}">
                        <input type="submit" value="Cerrar Sesion" class="decorative-button">
                    </form>
                </nav>
                <label for="btn-menu">✖</label>
            </div>
        </div>
    </div>
</aside>
<main id="content">
    <div class="grafica" id="grafica">
        <div class="box">
            <canvas id="barras"></canvas>
        </div>
        <div class="box">
            <canvas id="dispersion"></canvas>
        </div>
        <div class="box">
            <canvas id="torta"></canvas>
        </div>
        <div class="box">
            <div class="contenedor-botones">
            <h2 style="align-content: center">Para exportar algun documento selecciona el boton que deseas</h2>
                <br>
                <br>
            <button class="boton cuatro"><strong><span>Usuarios</span></strong></button>
            <button class="boton cuatro"><strong><span>Parqueaderos</span></strong></button>
            <button class="boton cuatro"><strong><span>Auditoria</span></strong></button>
            <button class="boton cuatro"><strong><span>Reservas</span></strong></button>
            </div>
        </div>
    </div>
    <div id="tipo_parqueadero" style="display: none;">
    <main class="table_parqueadero" >
        <section class="table_header">
            <h1>Informacion de tipo de Parqueadero</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID_TipoParqueadero</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cubierto</td>
                        <td><strong>A</strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
    <div id="tipo_Documento" style="display: none">
    <main class="table_parqueadero" >
        <section class="table_header">
            <h1>Informacion de tipo de Documento</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID_Documento</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cedula</td>
                        <td><strong>A</strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
    <div id="carros" style="display: none">
    <main class="table_parqueadero" >
        <section class="table_header">
            <h1>Informacion de los vehiculos</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID_Documento</th>
                        <th>Usuario</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                <form action="/info_vehiculos" method="GET">
                    <tr>
                        <td>1</td>
                        <td>danielfmr88@gmail.com</td>
                        <td>123BND</td>
                        <td>2016</td>
                        <td><strong>A</strong></td>
                    </tr>
                </form>
                </tbody>
            </table>
        </section>
    </main>
</div>
    <div id="Auditoria" style="display: none">
    <main class="table_parqueadero" >
        <section class="table_header">
            <h1>Información de la auditoria</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID Informe</th>
                        <th>Usuario</th>
                        <th>Fecha y Hora</th>
                        <th>Evento</th>
                        <th>Tabla</th>
                        <th>Ip del Usuario</th>
                    </tr>
                </thead>
                <tbody id = "tablaAuditoria">
                </tbody>
            </table>
            <script>
                function traerDatosAuditoria(){
                    $.ajax({
                        type:"GET",
                        url: "http://localhost:8080/api/Auditoria/getAll",
                        success:function(data){
                            var res;

                            for (let item of data.results) {
                                res += "<tr><td>" + item.idInforme +
                                    "</td><td>" + item.usuario + "</td><td>" +
                                    item.fechaHora + "</td><td>" +
                                    item.evento + "</td><td>" +
                                    item.tabla + "</td><td>" +
                                    item.ipUsuario + "</td></tr>";
                            }

                            $("#tablaAuditoria").empty(res);

                            $("#tablaAuditoria").append(res);

                        },error:function(e){
                            alert("No hay información");
                        }
                    });
                    return false;
                    alert("Acabo la función");
                }

            </script>
        </section>
    </main>
</div>
</div>
    <div id="Reserva" style="display: none">
    <main class="table_parqueadero" >
        <section class="table_header">
            <h1>Informacion de reservas</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID Factura</th>
                        <th>Momento Reserva</th>
                        <th>Ingreso</th>
                        <th>Salida</th>
                        <th>Usuario</th>
                        <th>Ip del Parqueadero</th>
                        <th>Placa del vehiculo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2023-05-22 18:46:34</td>
                        <td>2021-04-20 22:31:51</td>
                        <td>2021-04-20 22:31:51</td>
                        <td>danielfmr88@gmail.com</td>
                        <td>Calle 45</td>
                        <td>123BND</td>
                        <td><strong>A</strong></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</main>
<script src="/JS/funcion_admin.js"></script>
<script src="/JS/graficas.js"></script>
</body>
</html>