<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/inicio_usuario.css">
    <link rel="stylesheet" type="text/css" href="/CSS/tablas.css">
    <link rel="icon" href="/Images/logo.ico">
    <link rel="stylesheet" href="/CSS/loginUser.css">
    <title>Sesión de Usuario</title>
</head>
<body class="fondo_admin" style=" background-color: rgba(255,255,255,1);">

<Script src="/JS/funcionalidad.js"></Script>
<!-- loader  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<aside id="sidebar">
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu" class="icon-menu" style="cursor: pointer;">☰</label>
            </div>
        </div>
    </header>
    <div class="capa">
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
            <div class="cont-menu">
                <nav class="navbar">
                    <img src="/Images/fondo-user.png" style="width: 50%; height: 50%; margin-left: 20%;"/>
                    <br><br>
                    <a onclick="carros()">TUS VEHICULOS</a>
                    <a onclick="reserva()">RESERVA TU CUPO</a>
                    <a href="/HTML/Inicio.html" class="ultimo-elemento">CERRAR SESIÓN</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
    </div>
</aside>



<main id="content">
    <div class="grafica" id="grafica">
    </div>
    <div id="tipo_parqueadero" style="display: none;">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1>Informacion de tipo de Parqueadero</h1>
            </section>
            <section class="table_body">
                <table>
                    <thead>
                    <tr>
                        <th>ID_TipoParqueadero</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cubierto</td>
                        <td><strong>A</strong></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <div id="tipo_Documento" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1>Informacion de tipo de Documento</h1>
            </section>

        </main>
    </div>
    <script>
        $(document).ready(function() {
            $.get("/pagina_principal/api/Carro/getAll", function(data) {
                var tabla = $("#tablaVehiculos tbody");

                data.forEach(function(carros) {
                    var fila = "<tr>" +
                        "<td>" + carros.idCarro + "</td>" +
                        "<td>" + carros.usuario + "</td>" +
                        "<td>" + carros.placa + "</td>" +
                        "<td>" + carros.modelo + "</td>" +
                        "<td>" + carros.estado + "</td>" +
                        "</tr>";
                    tabla.append(fila);
                });
            });
        });
    </script>
    <div id="carros" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1>Informacion de los vehiculos</h1>
            </section>
            <section class="table_body">
                <table id="tablaVehiculos">
                    <thead>
                    <tr>
                        <th>Id vehículo</th>
                        <th>Usuario</th>
                        <th>Placa</th>
                        <th>Modelo</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </main>
    </div>
    <div id="Auditoria" style="display: none">
        <main class="table_parqueadero" >
        </main>
    </div>
    </div>
    <div id="Reserva" style="display: none">
        <main class="table_parqueadero" >
            <section class="table_header">
                <h1>reservas parqueadero</h1>
            </section>
            <section class="table_body">
                <table id = "tablaReserva">
                    <thead>
                    <tr>
                        <th>ID_Parqueadero</th>
                        <th>Tipo_parqueadero</th>
                        <th>Ubicación</th>
                        <th>Horario de atencion</th>
                        <th>Tarifa</th>
                        <th>Fidelización</th>
                        <th>Ciudad</th>
                        <th>Cupos Totales</th>
                        <th>Cupos Ocupados</th>
                        <th>Estado</th>
                        <th class="Reserv_btn">
                            <button id = "Reserva_parq">
                                <a onclick="mostrarModal()" style="cursor: pointer;">Reservar</a>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </main>
    </div>
    <script>
        $(document).ready(function() {
            $.get("/api/Parqueadero/getAll", function(data) {
                var tabla = $("#tablaReserva tbody");

                data.forEach(function(parqueaderoUs) {
                    var fila = "<tr>" +
                        "<td>" + parqueaderoUs.idParqueadero + "</td>" +
                        "<td>" + parqueaderoUs.idTipoParq + "</td>" +
                        "<td>" + parqueaderoUs.ubicacion + "</td>" +
                        "<td>" + parqueaderoUs.horarioAtencion + "</td>" +
                        "<td>" + parqueaderoUs.tarifa + "</td>" +
                        "<td>" + parqueaderoUs.fidelizacion + "</td>" +
                        "<td>" + parqueaderoUs.ciudad + "</td>" +
                        "<td>" + parqueaderoUs.cuposTotales + "</td>" +
                        "<td>" + parqueaderoUs.cuposOcupados + "</td>" +
                        "<td>" + parqueaderoUs.estado + "</td>" +
                        "</tr>";
                    tabla.append(fila);
                });
            });
        });
    </script>

    <div>
        <form th:action="@{/api/Autenticacion/validarLogin}" method="POST"> <!--th:object="${captcha}"-->
            <div id="frame_login" style="display: none !important;">
                <div id="cerrar" style="cursor: pointer;">
                    <div class="center">
                        <button id="show-reserva">Reservar parqueadero</button>
                    </div>
                    <div class="popup">
                        <div class="clos-btn" onclick="cerrarModal()">&times;</div>
                        <div class="form">
                            <h2>Reservar</h2>
                            <div class="form-element">
                                <label>Id parqueadero</label>
                                <input type="text" id="NombreReservar" placeholder="nombre de reserva" name="Nombre">
                            </div>
                            <div class="form-element">
                                <label for="Placa">Placa</label>
                                <input type="Placa" id="Placa" placeholder="Placa" name="Placa">
                            </div>

                            <div class="form-element">
                                <label >Hora entrada</label>
                                <input class="contactus" placeholder="Direccion" type="Search" name="Search">
                            </div>

                            <div class="form-element">
                                <label >Hora salida</label>
                                <input class="contactus" placeholder="Direccion" type="Search" name="Search">
                            </div>
                            <div class="form-element">
                                <input type="submit" value="Reservar" class="decorative-button">
                            </div>
                            <!--<div th:if="${message!=null}">
                               <span style="color:red;" th:text="${message}"></span>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="/JS/funcion_admin.js"></script>
<script src="/JS/graficas.js"></script>
<script src="/JS/popper.min.js"></script>
<script src="/JS/bootstrap.bundle.min.js"></script>
<script src="/JS/jquery-3.0.0.min.js"></script>
<script src="/JS/plugin.js"></script>
</body>
</html>